
.pedidos--base {
    height: auto;
    width: 100%;
    background-color: lightgreen;
    
}


.pedidos--base > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid purple;
    padding-left: 15px;
}

.pedidos--base:not(:last-child) {
    margin-bottom: 10px;
}

.pedidos--tela--individual {
    background-color: navajowhite;
}

