.card--base {
    height: auto;
    position: relative;
    

}

.card--base > * {
    font-size: 20px;
}

.card--base button {
    margin: 16px auto;
}

.imagem {
    height: 100px;
    width: 60%;
    margin: 30px auto 13px auto;
    
}

.quantidade span {
    padding: 0.7px 7px;
    height: 30px;
    margin: 0px;
    background-color: #FFF;
    border: 1px solid black;
}

.quantidade button {
    height: 30px;
    margin: auto;
    background-color: lightgreen;
    padding: 10px 8px;
    border: 1px solid black;
    outline: none;
    text-align: center;
}















