

* {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Open Sans Regular';
    --corclicado: chocolate;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('./fonts/OpenSans-Italic.ttf');
}


.painel--geral > * {
    display: list-item;
    position: relative; 
    font-family: 'Open Sans Regular';
}

.painel--geral_meio {
   font-family: 'Open Sans Bold';
   font-size: 18px;
   
}

.painel--geral_meio > * {
   padding-left: 20px;
   padding-top: 20px;
   /* bottom: 0; */
}

.titulo {
    text-align: center;
    border: 2px solid blue;
    padding-bottom: 30px;
    font-family: 'Open Sans Bold';
}


  





































