* {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    
    /* border: 6px solid pink; */
}



.app-1 > * {
    display: list-item;
    
    
}

.app-2 {
   height: 80vh;
   
}

.app-2 > * {
   padding-left: 20px;
   padding-top: 20px;
}


