.rodape_base {
   /*  position: relative; */
    height: 60px;
    width: 100%;
    background-color: lightblue;
    font-size: 21px;
    color: #FFF;
    flex-direction: column;


    
}

.rodape_inf1 {
    
    margin-left: 10px;
    
    
}




