.cabecalho_base {
     position: relative;
     height: 8vh;
     width: 100%;
     background-color: chocolate;
     font-size: 21px;
     color: #FFF;
     
}

.cabecalho_inf1 {
     position: absolute;
     margin-left: 10px;
     margin-top: 17px;
}






