.cabecalho_base {
     position: relative;
     height: 60px;
     width: 100%;
     background-color: chocolate;
     font-size: 21px;
     color: #FFF;
     align-content: center;
     margin: 0;
     flex-direction: column;
     border: 1px solid yellow;
     
     
}

.cabecalho_inf1 {
     position: relative;
     left: 10px;
     padding: 30px auto 20px auto;
     border: 1px solid white;
}

.cabecalho_inf1 > * {
     display: inline-block;
     margin: 10px 6px;
}

/* .cabecalho_inf2 {
     display: inline-block;
     margin: 10px 6px;
} */












